*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(107, 107, 241);
    font:normal 15pt Arial;
    margin-top: 10%;
}

header{
    color: #fff;
    text-align: center;
}

section{
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5ox 10px rgba(0, 0, 0, 0.411);
}

.title{
    margin-bottom: 15px;
}

footer{
    margin-top: 15px;
    color: #fff;
    text-align: center;
    font-style: italic;
}

#foto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#msg {
    text-align: center;
}
