*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(107, 107, 241);
    font:normal 15pt Arial;
}

header{
    text-align: center;
    margin-bottom: 10px;
}

section{
    background-color: #fff;
    width: 600px;
    border-radius: 15px;
    padding: 15px;
    margin: auto;
}

p{
    margin: 20px;
}

footer{
    text-align: center;
    margin-top: 10px;
}